.header {
    align-items: center;
    display: flex;
    height: 56px;
    justify-content: space-between;
    left: 16px;
    max-width: 343px;
    margin: 0 auto;
    position: fixed;
    right: 16px;
    top: 16px;
}

.logo {
    flex-grow: 2;
    height: 34.05px;
    width: 145px;
}

.search {
    align-items: center;
    display: flex;
    height: 48px;
    justify-content: center;
    width: 48px;
}

.search>a {
    color: var(--color-white);
}

.menu {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 48px;
    justify-content: space-between;
    padding: 15.25px 14px;
    width: 48px;
}

.menu .line {
    background-color: var(--color-white);
    height: 3.5px;
    width: 20px;
}

.form,
.profile {
    display: none;
}

@media (min-width: 768px){
    .header {
        max-width: 704px;
    }

    .logo{
        flex-grow: 0;
        
    }

    .search{
        display: none;
    }
    
    .form{
        align-items: center;
        display: flex;
        height: 56px;
        width: 431px;        
    }

    .form input[type="search"]{
        background-color: var(--color-gray16);
        border: none;
        border-radius: 8px;
        color: var(--color-white1);
        font-size: 16px;
        padding-left: 14px;
        height: 100%;
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .header {        
        max-width: 1376px;
    }

    .search, .menu{
        display: none;
    }

    .form{
        width: 752px; 
    }

    .profile{
        align-items: center;
        display: flex;
        justify-content: space-evenly;
        width: 106px;
    }   
    
    .profile__name{
        color: var(--color-white1);
    }
}


