.main-grid {
    display: grid;
    grid-template-areas:
        "codigo"
        "aside-novo-projeto";
    width: 343px;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 112px;;
}

@media (min-width: 1200px) {
    .main-grid {
        grid-template-areas:
            "desktop-menu codigo aside-novo-projeto";
        ;
        justify-content: space-between;
    }
}